html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full screen height */
  background-color: #f8f9fa; /* optional: nice light background */
}


.full-page {
  min-height: 100vh; /* makes each page fill the screen vertically */
  display: flex;
  flex-direction: column;
  justify-content: center; /* centers vertically */
  align-items: center; /* centers horizontally */
}
